
body {
  margin: 0;
  font-family: Arial;
  background: #020817;
  color: white;
} 

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
} 

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
} 

.logo {
  background: gold;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
} 

.btn {
  background: gold;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
} 

.hero {
  display: flex;
  justify-content: space-around;
  padding: 120px 20px;
  align-items: center;
} 

.hero img {
  width: 400px;
  border-radius: 20px;
} 

.stats {
  display: flex;
  justify-content: space-around;
  padding: 50px;
} 

.stat {
  font-size: 30px;
  text-align: center;
} 

.stat span {
  display: block;
  font-size: 14px;
} 

.features, .events, .scholarships {
  text-align: center;
  padding: 50px;
} 

.feature-grid, .event-grid, .scholar-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
} 

.card, .event, .scholar {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  backdrop-filter: blur(10px);
} 

.event img {
  width: 100%;
  border-radius: 10px;
} 

.testimonial {
  text-align: center;
  padding: 50px;
} 

.cta {
  text-align: center;
  padding: 50px;
  background: gold;
  color: black;
} 

.cta input {
  padding: 10px;
  width: 200px;
} 

.cta button {
  padding: 10px;
  background: black;
  color: white;
} 

footer {
  text-align: center;
  padding: 20px;
}
